@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300&display=swap%27');

:root {
    /* primary color*/
    --clr-primary-1: hsl(14, 100%, 33%, 100%);
    --clr-seconday-color: hsl(0, 0%, 95%, 100%);
    /* font color*/
    --clr-font-color-1: hsl(209, 28%, 19%, 100);
    --clr-font-color-2: hsl(209, 34%, 28%, 100);
}


body {
    font-family: 'Karla', sans-serif;
    overflow: hidden;

}

* {
    background-color: var(--clr-seconday-color);
    margin: 0 auto;
    padding: 0;
}

.main_container {
    padding: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome_notice {
    text-align: center;
    color: var(--clr-font-color-1);
    font-size: 24px;
}

.logo {
    text-align: center;
}


.password {
    color: black;
    border: none;
    height: 41px;
    width: 441px;
    border-radius: 10px;
}

.confirmpassword {
    color: black;
    border: none;
    border-radius: 10px;
    height: 41px;
    width: 441px;
}

.name_div {
    padding: 10px 0px;
}

.email {
    color: black;
    border: none;
    border-radius: 10px;
    height: 41px;
    width: 441px;
}

.yourname {
    color: black;
    border: none;
    height: 41px;
    width: 441px;
    border-radius: 10px;
}

.color {
    color: red;
}

input {
    background-color: white;
    padding-left: 10px;
    font-size: 14px;
}

input:focus {
    color: var(--clr-font-color-1);
    outline: none;
    box-shadow: 3px 3px 8px 0px rgb(151, 150, 150);
}



span.passicon {
    position: relative;
    right: 37px;
    cursor: pointer;
}



label {
    color: var(--clr-font-color-1);
    font-size: 18px;
    font-weight: 500;
}

.loginbtn {
    text-align: center;
    width: 120px;
    height: 44px;
    margin-left: 164px;
    color: white;
    border: none;
    border-radius: 10px;
    background-color: var(--clr-primary-1);
    cursor: pointer;
    margin-top: 20px;
}


/* .signbtn:hover {

    cursor: pointer;
    background-color: rgb(208, 14, 14);
    color:var(--clr-font-color-2);
    border:1px solid var(--clr-primary-1);
    box-shadow: 2px 2px 10px rgb(151, 151, 151);
} */

p.add-signup {
    margin-left: 140px;
    color: var(--clr-font-color-2);
    margin-top: 10px;
}

a.add-signup-a {
    margin-left: 10px;
    color: var(--clr-primary-1);
    text-decoration: none;
}
input#emailId {
    margin-top: 5px;
}
.email_div {
    padding-top: 30px;
}
.password_div{
    padding-top: 30px;

}





/* //toast nofitication */

.toast{
    position: absolute;
    top: 20px;
    right: 30px;
    border-radius: 12px;
    background: white;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    border-left: 6px solid var(--clr-primary-1);
    overflow: hidden;
    transform: translateX(calc(100% + 30px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast.active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
    background: white;
}

.toast-content .check{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    background-color: var(--clr-primary-1);
    color: #fff;
    font-size: 20px;
    border-radius: 50%;
}

.toast-content .message{
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    background: white;
}




.toast .close{
    position: absolute;
    top: 4px;
    right: 12px;
    cursor: pointer;
    opacity: 0.7;
    background: white;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: var(--clr-primary-1);
}
.message  span{
    background-color: white;
}
.progress.active:before{
    animation: progress 5s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}
