<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Simple Sidebar - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <script src="https://kit.fontawesome.com/0e6d2af634.js" crossorigin="anonymous"></script>
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../css/trash.css" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
        <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    </head>
    <body>
        <div class="d-flex" id="wrapper">
            <!-- Sidebar-->
            <div class="" id="sidebar-wrapper">
                <div class="sidebar-heading">
                    <a href="/"><img src="./images/Logo.svg" class="logo" id="logo" /></a>
                </div>
                <div class="list-group list-group-flush bgColor">
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/"><i class="fa-solid fa-bars mr-3 iconFontsize"></i> My journals</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/">  <i class="fa-solid fa-calendar-day mr-3 iconFontsize"></i> Calendar</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/starred"> <i class="fa-regular fa-star mr-3 iconFontsize"></i> Starred</a>
                    <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/"> <i class="fa-solid fa-share-from-square iconFontsize"></i> Shared with me</a>
                    <a class="list-group-item list-group-item-action active list-group-item-light p-3" href="/trash"> <i class="fa-solid fa-trash-can mr-3 iconFontsize"></i></i>Trash</a>
                    <a class="list-group-item settingIcon list-group-item-action list-group-item-light p-3" href="#!"> <i class="fa-solid fa-gear mr-3 iconFontsize"></i> Settings</a>
                </div>
            </div>
            <!-- Page content wrapper-->
            <div id="page-content-wrapper">
                <!-- Top navigation-->
                <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
                    <div class="container-fluid">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav ms-auto mt-2 mt-lg-0 alignment">
                                <nav class="navbar navbar-light bg-light">
                                    <form class="form-inline">
                                        <i class="fa-sharp fa-solid fa-magnifying-glass searchIcon"></i>
                                      <input class="form-control mr-sm-2 searchInput" type="search" placeholder="" aria-label="Search">
                                    </form>
                                  </nav>
                                <li class="nav-item active"><a class="nav-link" href="#!"><img src="./images/dark_mode.svg" class="darkModeBtn"/></a></li>
                                <li class="nav-item"><a class="nav-link" href="#!"><i class="fa-regular fa-bell"></i></a></li>
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle profile" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></a>
                                    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="#!">Action</a>
                                        <a class="dropdown-item" href="#!">Another action</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#!">Something else here</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <!-- Page content-->
                <div class="container-fluid">
                    <div class="btns">
                        <a href="restoreAll"><button type="button" class="btn btn-dark">Restore All</button></a>
                        <a href="deleteAll"><button type="button" class="btn btn-dark">Delete All</button></a>
                    </div>
                    <div class="cards">
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="from-date">may 15</span> -><span class="to-date">may 20</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="from-date">may 15</span> -><span class="to-date">may 20</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="from-date">may 15</span> -><span class="to-date">may 20</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="from-date">may 15</span> -><span class="to-date">may 20</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="out-days">30days left</span><span>&#128525;</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                        <div class="user-cards">
                            <div class="content-div">
                                <h3 class="content-title">My First Journal</h3>
                                <p class="content">
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis voluptates tenetur deserunt culpa officia.
                                </p>
                            </div>
                            <div class="footer">
                                <div class="end-date">
                                    <span class="from-date">may 15</span> -><span class="to-date">may 20</span>
                                </div>
                                <div class="action-btns">
                                    <i class="fa-regular fa-star"></i>
                                    <i class="fa-solid fa-pen"></i>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div id="black-screen">
            
                    </div>
                    <div class="alert-delete">
                        <div class="confirm-content">
                            <p>Are you sure want to  permanently delete “ALL JOURNALS”</p>
                            <p>If you delete this all journal it will be permanently lost</p>
                        </div>
                        <div class="actions">
                            <button class="action-btn action-activebtn">Cancel</button>
                            <button class="action-btn">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="../js/trash.js"></script>
    </body>
</html>
